@model PagedList.IPagedList<OnlineShop.Models.CarModel>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
   ViewBag.Title = "Товары";
}

<h1>Список машин</h1>
@foreach (var p in Model)
{
    @Html.Partial("CarSummary", p)
}

<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
