@model OnlineShop.ViewModels.CartIndexViewModel

@{
    ViewBag.Title = "CarModel - корзина";
}

<h2>Ваша корзина</h2>
<table class="table">
    <thead>
        <tr>
            <th>Марка</th>
            <th>Модель</th>
            <th class="text-right">Цена</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
        <tr>
            <td class="text-left">@line.CarModel.NameManufacturer</td>
            <td class="text-left">@line.CarModel.NameModel</td>
            <td class="text-right">@line.CarModel.Price</td>
        </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
</div>

